* {
    margin: 0px;
}

#three_scene {
    height: 95%;
}

body {
    overflow: hidden;
    z-index: 5;
}

#gui {
    position: absolute;
    top: 2px;
    right: 2px;
}

#info {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50%;
    text-align: left;
    z-index: 1;
    display: block;
    font-size: x-small;
    user-select: none;
}

#node-info {
    position: absolute;
    left: 10px;
    bottom: 30px;
    width: 30%;
    text-align: left;
    z-index: 1;
    display: block;
    font-size: x-small;
    user-select: none;
}

#scenario-info {
    position: absolute;
    right: 10px;
    bottom: 30px;
    width: 30%;
    text-align: right;
    z-index: 1;
    display: block;
    font-size: x-small;
    user-select: none;
}

.slider {
    position: absolute;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    z-index: 1;
    bottom: 0px;
  }