* {
    margin: 0px;
}
#control_panel {
    height: 10%;
}

#three_scene {
    height: 95%;
}

.container {
    height: 100vh;
}

body {
    overflow: hidden; 
}

#info {
	position: absolute;
	top: 10px;
    left: 10px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
    font-size: x-small;
    user-select: none;
}